In [34]:
import numpy as np
import pandas as pd

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import  DecisionTreeClassifier

In [36]:
df  = pd.read_csv("survey_results_public.csv",usecols=["Country","Age","Hobbyist"])

In [37]:
df =  df.dropna()

In [38]:
df.sample(5)

      Hobbyist   Age         Country
6156       Yes  38.0           India
31880      Yes  27.0           India
56352      Yes  30.0  United Kingdom
55984      Yes  26.0         Ireland
52842      Yes  39.0   United States

In [39]:
# ste 1->train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=["Hobbyist"]),
                                                 df["Hobbyist"],
                                                 test_size=0.2,
                                                 random_state=42)

In [40]:
len(X_train),len(X_test),len(y_train),len(y_test)

(36356, 9090, 36356, 9090)

In [41]:
from sklearn.preprocessing import LabelEncoder

la = LabelEncoder()

y_train = la.fit_transform(y_train)
y_test = la.fit_transform(y_test)

In [42]:
X_train.sample()

        Age  Country
32519  25.0  Nigeria

In [44]:
y_train

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
trf1 = ColumnTransformer([
    ("imputer_Age",SimpleImputer(),[0]),
    ("imputer_Country",SimpleImputer(strategy="most_frequent"),[1])
])

In [ ]:
trf2 = ColumnTransformer([
    ("imputer_Country",OneHotEncoder(sparse=False,handle_unknown="ignore"),[1])
],remainder="passthrough")

In [ ]:
# trf3 = ColumnTransformer([
#     ("Scale",MinMaxScaler(),slice(0,10))
# ])

In [ ]:
trf4 = SelectKBest(score_func=chi2,k=5)

In [ ]:
trf5 = DecisionTreeClassifier()

In [ ]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    # ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
])

In [ ]:
pipe.fit(X_train,y_train)