In [13]:
import numpy as np
import pandas as pd

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import  SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier

In [15]:
df  = pd.read_csv("survey_results_public.csv",usecols=["Country","Age","WebframeWorkedWith","CurrencyDesc","Hobbyist","UndergradMajor"])

In [16]:
dff = df.dropna()

In [17]:
dff.isnull().sum()

Hobbyist              0
Age                   0
Country               0
CurrencyDesc          0
UndergradMajor        0
WebframeWorkedWith    0
dtype: int64

In [18]:
dff.shape

(26102, 6)

In [19]:
dff.head(5)

,Hobbyist,Age,Country,CurrencyDesc,UndergradMajor,WebframeWorkedWith
7,Yes,36.0,United States,United States dollar,"Computer science, computer engineering, or sof...",Flask
8,No,30.0,Tunisia,United States dollar,"Computer science, computer engineering, or sof...",jQuery
9,Yes,22.0,United Kingdom,Pound sterling,Mathematics or statistics,Flask;jQuery
10,Yes,23.0,United Kingdom,Pound sterling,"Computer science, computer engineering, or sof...",Angular;Angular.js;Django;React.js
11,No,49.0,Spain,European Euro,Mathematics or statistics,ASP.NET;jQuery

In [20]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26102 entries, 7 to 64152
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Hobbyist            26102 non-null  object
 1   Age                 26102 non-null  float64
 2   Country             26102 non-null  object
 3   CurrencyDesc        26102 non-null  object
 4   UndergradMajor      26102 non-null  object
 5   WebframeWorkedWith  26102 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.4+ MB

In [21]:
len(dff['Country'].unique())

155

In [22]:
X = dff.iloc[:800,1:]
y = dff.iloc[:800,0]

In [23]:
y

7       Yes
8        No
9       Yes
10      Yes
11       No
       ...
1490    Yes
1492     No
1494    Yes
1495    Yes
1497     No
Name: Hobbyist, Length: 800, dtype: object

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,
                                                 y,
                                                 test_size=0.2,
                                                 random_state =42)

In [25]:
print(X_train.shape)
print(X_test.shape)

(640, 5)
(160, 5)

In [26]:
# OH_country = OneHotEncoder(sparse=False,handle_unknown="ignore")
# OH_CurrencyDesc = OneHotEncoder(sparse=False,handle_unknown="ignore")
# OH_UndergradMajor = OneHotEncoder(sparse=False,handle_unknown="ignore")
# OH_WebframeWorkedWith = OneHotEncoder(sparse=False,handle_unknown="ignore")

# X_train_country = OH_country.fit_transform(X_train[['Country']])
# X_train_CurrencyDesc = OH_CurrencyDesc.fit_transform(X_train[['CurrencyDesc']])
# X_train_UndergradMajor = OH_UndergradMajor.fit_transform(X_train[['UndergradMajor']])
# X_train_WebframeWorkedWith = OH_WebframeWorkedWith.fit_transform(X_train[['WebframeWorkedWith']])

# X_test_country = OH_country.fit_transform(X_test[['Country']])
# X_test_CurrencyDesc = OH_CurrencyDesc.fit_transform(X_test[['CurrencyDesc']])
# X_test_UndergradMajor = OH_UndergradMajor.fit_transform(X_test[['UndergradMajor']])
# X_test_WebframeWorkedWith = OH_WebframeWorkedWith.fit_transform(X_test[['WebframeWorkedWith']])
OH_sex = OneHotEncoder(sparse=False,handle_unknown="ignore")
OH_CurrencyDesc = OneHotEncoder(sparse=False,handle_unknown="ignore")

X_train_sex = OH_sex.fit_transform(X_train[['Country']])
X_train_CurrencyDesc = OH_CurrencyDesc.fit_transform(X_train[['CurrencyDesc']])


X_test_sex = OH_sex.fit_transform(X_test[['Country']])
X_test_CurrencyDesc = OH_CurrencyDesc.fit_transform(X_test[['CurrencyDesc']])

In [27]:
print(X_test_CurrencyDesc.shape)
X_train_CurrencyDesc.shape

(160, 18)

(640, 45)

In [28]:
La_Hobbyist = LabelEncoder()

y_train = La_Hobbyist.fit_transform(y_train)


y_test = La_Hobbyist.fit_transform(y_test)

In [29]:
type(y_train)

numpy.ndarray

In [30]:
X_train_rem = X_train.drop(columns=["Country","CurrencyDesc","UndergradMajor","WebframeWorkedWith"])

In [31]:
X_test_rem = X_test.drop(columns=["Country","CurrencyDesc","UndergradMajor","WebframeWorkedWith"])

In [32]:
X_train_rem

       Age
476   24.0
1145  38.0
594   37.0
622   26.0
738   26.0
...    ...
149   35.0
209   34.0
484   42.0
821   43.0
202   57.0

[640 rows x 1 columns]

In [33]:
X_train.shape

(640, 5)

In [34]:
X_test.shape

(160, 5)

In [35]:
X_train_transformed = np.concatenate((X_train_rem,X_train_country,X_train_CurrencyDesc,X_train_UndergradMajor,X_train_WebframeWorkedWith),axis=1)
X_test_transformed = np.concatenate((X_test_rem,X_test_country,X_test_CurrencyDesc,X_test_UndergradMajor,X_test_WebframeWorkedWith),axis=1)

NameError: name 'X_train_country' is not defined

In [ ]:
X_train_transformed.shape

In [ ]:
X_test_transformed.shape

In [ ]:
# clf = DecisionTreeClassifier()
# clf.fit(X_train_transformed,y_train)

In [ ]:
# len(X_train_transformed),len(y_train)

In [ ]:
# y_test
# y_pred = clf.predict(X_test_transformed)

In [ ]:
# from sklearn.metrics import accuracy_score

In [ ]:
# accuracy_score(y_pred,y_test)