In [153]:
import numpy as np 
import pandas as pd

In [154]:
from sklearn.preprocessing import  OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [155]:
df = pd.read_csv("covid.csv")

In [156]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [157]:
df['fever'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: fever
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 928.0 bytes

In [158]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2,random_state=0)

In [159]:
Sim = SimpleImputer()

X_train_fever = Sim.fit_transform(X_train[['fever']])

X_test_fevet = Sim.fit_transform(X_test[['fever']])

In [160]:
Or = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = Or.fit_transform(X_train[['cough']])

X_test_cough = Or.fit_transform(X_test[['cough']])

In [161]:
ON = OneHotEncoder(drop='first',sparse=False)

X_train_gender_city = ON.fit_transform(X_train[['gender','city']]) 

X_test_gender_city = ON.fit_transform(X_test[['gender','city']])

In [162]:
X_train_age = X_train.drop(columns=['gender','cough','city','fever']).values
X_train_age.shape

X_test_age = X_test.drop(columns=['gender','cough','city','fever']).values

type(X_test_age)

numpy.ndarray

In [163]:
X_train_transfromed = np.concatenate((X_train_age,X_train_gender_city,X_train_cough,X_train_fever),axis=1)

X_test_transfromed = np.concatenate((X_test_age,X_test_gender_city,X_test_cough,X_test_fevet),axis=1)

In [164]:
X_test_transfromed

array([[ 19.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        , 100.        ],
       [ 25.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        , 104.        ],
       [ 42.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        , 101.        ],
       [ 81.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        , 101.        ],
       [  5.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        , 102.        ],
       [ 27.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        , 100.        ],
       [ 69.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        , 103.        ],
       [ 34.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  98.        ],
       [ 60.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  99.        ],
       [ 12.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        , 104.        ],
       [ 83.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  98.        ],
       [ 82.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        , 102.        ],
       [ 11.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        , 100.        ],
       [ 64.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        , 102.        ],
       [ 20.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   1.        , 100.57894737],
       [ 15.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        , 101.        ],
       [ 71.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,  98.        ],
       [ 13.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        , 100.        ],
       [ 26.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  98.        ],
       [ 19.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        , 100.        ]])

In [165]:
from sklearn.compose import ColumnTransformer

Transfromed = ColumnTransformer(transformers=[
    ('tfn1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first',sparse=False),['gender','city'])
],remainder='passthrough')

In [166]:
Transfromed.fit_transform(X_train)
Transfromed.fit_transform(X_test)

array([[100.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  19.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  25.        ],
       [101.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  42.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  81.        ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,   5.        ],
       [100.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  27.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  69.        ],
       [ 98.        ,   1.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  34.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  60.        ],
       [104.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  12.        ],
       [ 98.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  83.        ],
       [102.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  82.        ],
       [100.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  11.        ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  64.        ],
       [100.57894737,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  20.        ],
       [101.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  15.        ],
       [ 98.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  71.        ],
       [100.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  13.        ],
       [ 98.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  26.        ],
       [100.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  19.        ]])

# Nest p

In [167]:
import numpy as np
import pandas as pd

In [168]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute  import SimpleImputer

In [169]:
df = pd.read_csv("aug_test.csv")

In [170]:
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
26,9548,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Pvt Ltd,>4,65
255,21636,city_36,0.893,NaN,No relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,47
1866,16449,city_114,0.926,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,5000-9999,Pvt Ltd,>4,60
1719,22338,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10/49,Pvt Ltd,3,41
794,12064,city_90,0.698,Male,Has relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,1,105

In [171]:
df = df[['gender','relevent_experience','enrolled_university','education_level']]

In [172]:
df.sample(5)

      gender      relevent_experience enrolled_university education_level
159      NaN   No relevent experience       no_enrollment        Graduate
1863  Female   No relevent experience       no_enrollment         Masters
2006    Male  Has relevent experience       no_enrollment        Graduate
147     Male  Has relevent experience       no_enrollment        Graduate
1637    Male  Has relevent experience       no_enrollment        Graduate

In [173]:
df = df.dropna()
df.sample(5)

     gender      relevent_experience enrolled_university education_level
757    Male  Has relevent experience       no_enrollment        Graduate
354    Male  Has relevent experience       no_enrollment        Graduate
1549   Male   No relevent experience       no_enrollment     High School
705    Male  Has relevent experience       no_enrollment        Graduate
953    Male  Has relevent experience       no_enrollment        Graduate

In [174]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['enrolled_university']),df['enrolled_university'],test_size=0.2,random_state=0)

In [175]:
len(X_train),len(X_test),len(y_train),len(y_test)

(1264, 316, 1264, 316)

In [176]:
OH = OneHotEncoder(sparse=False)

X_train_gender_relevent_experience = OH.fit_transform(X_train[['gender','relevent_experience']])

X_test_gender_relevent_experience = OH.fit_transform(X_test[['gender','relevent_experience']])

In [177]:
X_train_gender_relevent_experience

array([[0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0.]])

In [178]:
Or = OrdinalEncoder(categories=[['Primary School','High School','Graduate','Masters','Phd']])

X_train_education_level = Or.fit_transform(X_train[['education_level']])

X_test_education_level = Or.fit_transform(X_test[['education_level']])

In [179]:
from sklearn.preprocessing import LabelEncoder

Le = LabelEncoder()

y_train = Le.fit_transform(y_train)
y_test = Le.fit_transform(y_test)

In [180]:
X_train_transfromed = np.concatenate((X_train_gender_relevent_experience,X_train_education_level),axis=1)

X_test_transfromed = np.concatenate((X_test_gender_relevent_experience,X_test_education_level),axis=1)

In [181]:
X_test_transfromed

array([[0., 1., 0., 0., 1., 1.],
       [0., 1., 0., 0., 1., 2.],
       [0., 1., 0., 1., 0., 2.],
       ...,
       [1., 0., 0., 1., 0., 2.],
       [1., 0., 0., 0., 1., 2.],
       [0., 1., 0., 0., 1., 2.]])

In [182]:
from sklearn.compose import ColumnTransformer

Transfromed = ColumnTransformer(transformers=[
    ('tfn1',OrdinalEncoder(categories=[['Primary School','High School','Graduate','Masters','Phd']]),['education_level']),
    ('tfn2',OneHotEncoder(drop='first',sparse=False),['gender','relevent_experience'])
],remainder='passthrough')

In [183]:
Transfromed.fit_transform(X_train)

array([[2., 1., 0., 0.],
       [2., 1., 0., 0.],
       [2., 1., 0., 0.],
       ...,
       [3., 0., 0., 1.],
       [2., 1., 0., 0.],
       [2., 1., 0., 0.]])